<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC1B1y0kKyyReZVoDRyT-mfoE_35qD5ujc</string>
	<key>GCM_SENDER_ID</key>
	<string>222863844605</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.biostreamtech.lookware</string>
	<key>PROJECT_ID</key>
	<string>db-lookware-beta</string>
	<key>STORAGE_BUCKET</key>
	<string>db-lookware-beta.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:222863844605:ios:6c34eedfb56f37df630a94</string>
</dict>
</plist>